{% extends 'base.html' %}
{% load urlify%}
{% block head_title %} {{post.title}} | {{block.super}} {% endblock head_title %}

{% block content %}
<div class='col-sm-6 offset-sm-3'>

    {% if post.image %}
        <img src='{{ post.image.url }}' class="img-fluid" alt="Responsive image">
    {% endif %}
     <div class="row">
    <h1> {{ post.title }}
        <small><small>
            {% if post.draft %} <span style="color:red;">Draft</span> {% endif %}
            {{ post.publish }}
        </small></small>
    </h1>
    <p>Author: {{ post.user.get_full_name }}</p>
    </div>
    <div class="row">
    <p>
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </p>

    </div>
<hr/>
    <!--
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
    <a href="https://twitter.com/home?status={{post.content|truncatechars:80|urlify}}%20{{ request.build_absolute_uri }}">
Twitter
</a>
<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{post.title}}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>
    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}">Reddit</a>
    -->
    <div class="row content-markdown">
    {{ post.content }} <br>

    </div>
<hr/>
    <!-- facebook comments stuff -->
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
    </div>
{% endblock content %}
